.container{

    display: flex;

    position: relative;

    

    
}




.learn{


    margin: 200px auto;
    font-size: 50px;

    background-color: #990F02;

    color: #fff;
    font-weight: 700;
    box-shadow: 10px 10px 5px #aaaa;
    padding: 50px;

    



}

.image img{

    height: 600px;
}

.login{

    padding: 20px;

    
    
    position: absolute;

    height: 500px;

    width: 600px;

    top: 50px;

    right: 0px;

    background-color: #990F02;

    z-index: 999;


    transition: all 1s ease;



}


.login-title{

    color: #fff;

    font-size: 20px;

    font-weight: 700;

    margin: 200px;

    


}

.credentials{

    display: flex;

    flex-direction: column;

    margin: 50px;
    
}


label{


    color: #fff;

    font-weight: bold;
}


.credentials input{


    width: 80%;

    margin: 30px 50px;

    padding: 15px;

    border: none;
}

.btn-login{


    width: 40%;

    margin: 10px 50px;

    border: none;

    padding: 10px;

    color: #990F02;

    font-size: 15px;

    cursor: pointer;
}


.empty{

    position: absolute;

    top: 0;

    right: 20px;

    background-color: red;

    color: #fff;

    padding: 20px;

    font-weight: bold;

    width: 300px;

    cursor: pointer;

    z-index: 999;


}